@page
@model MyRazorApp.Pages.IndexModel

<!DOCTYPE html>
<html>
<head>
    <title>Razor Page</title>
</head>
<body>
    <div>
        @for (var i = 0; i <= 10; i++)
        {
            <p>Item @i</p>
        }
    </div>
</body>
</html>